Velib_Gateway_WS/WPFClientForVelibGateway/Connected Services/VelibGatewayWS/VelibGatewayService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VelibGatewayService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:21318/VelibGatewayService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:21318/VelibGatewayService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:21318/VelibGatewayService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVelibService_GetStations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStations" />
  </wsdl:message>
  <wsdl:message name="IVelibService_GetStations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStationsResponse" />
  </wsdl:message>
  <wsdl:message name="IVelibService_GetCities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCities" />
  </wsdl:message>
  <wsdl:message name="IVelibService_GetCities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IVelibService_GetAvailableVelibs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableVelibs" />
  </wsdl:message>
  <wsdl:message name="IVelibService_GetAvailableVelibs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableVelibsResponse" />
  </wsdl:message>
  <wsdl:portType name="IVelibService">
    <wsdl:operation name="GetStations">
      <wsdl:input wsaw:Action="http://tempuri.org/IVelibService/GetStations" message="tns:IVelibService_GetStations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVelibService/GetStationsResponse" message="tns:IVelibService_GetStations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCities">
      <wsdl:input wsaw:Action="http://tempuri.org/IVelibService/GetCities" message="tns:IVelibService_GetCities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVelibService/GetCitiesResponse" message="tns:IVelibService_GetCities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableVelibs">
      <wsdl:input wsaw:Action="http://tempuri.org/IVelibService/GetAvailableVelibs" message="tns:IVelibService_GetAvailableVelibs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVelibService/GetAvailableVelibsResponse" message="tns:IVelibService_GetAvailableVelibs_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVelibService" type="tns:IVelibService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStations">
      <soap:operation soapAction="http://tempuri.org/IVelibService/GetStations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCities">
      <soap:operation soapAction="http://tempuri.org/IVelibService/GetCities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableVelibs">
      <soap:operation soapAction="http://tempuri.org/IVelibService/GetAvailableVelibs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VelibGatewayService">
    <wsdl:port name="BasicHttpBinding_IVelibService" binding="tns:BasicHttpBinding_IVelibService">
      <soap:address location="http://localhost:21318/VelibGatewayService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>